---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, visitor]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [alum]
    width: 7
    image: false

---

<div class="jumbotron">
    <p>
        The <b>ASSET (Automated Software SEcuriTy) Research Group</b> at the <b>Singapore University of Technology and Design</b> does focused 
				research to enahnace the safety, security and efficiency of Hardware/Software Systems. Here is a place where we tell you exactly what 
				that means!
    </p>
</div>

<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
			<b>July 2018:</b> We have proposed <b><i>oo7</i></b> - a low-overhead (below 2%) 
			defense against <a href="https://arxiv.org/pdf/1801.01203.pdf">Spectre attacks</a> 
			based on binary analysis. Our proposed approach is now available in 
			<a href="https://arxiv.org/abs/1807.05843">arxiv.1807.05843</a>. To try <b><i>oo7</i></b>, 
			send a request <a href="https://oo7.comp.nus.edu.sg/">here</a>.	
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>

<section>
    <h2>Research</h2>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section>

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
