<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1109/ICSE-C.2017.94">How developers debug software the DbgBench dataset: poster</a>.
			</span><br />
			<span class="authors">
				Marcel Boehme, Ezekiel O. Soremekun, Sudipta Chattopadhyay, Emamurho Ugherughe, and Andreas Zeller.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 39th International Conference on Software Engineering, {ICSE} 2017, Buenos Aires, Argentina, May 20-28, 2017 - Companion Volume</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1109/ICSTW.2017.16">Testing Cache Side-Channel Leakage</a>.
			</span><br />
			<span class="authors">
				Tiyash Basu and Sudipta Chattopadhyay.
			</span><br />
			<span class="venuetype"></span><span class="venue">2017 {IEEE} International Conference on Software Testing, Verification and Validation Workshops, {ICST} Workshops 2017, Tokyo, Japan, March 13-17, 2017</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/3127041.3127044">Quantifying the information leak in cache attacks via symbolic execution</a>.
			</span><br />
			<span class="authors">
				Sudipta Chattopadhyay, Moritz Beck, Ahmed Rezine, and Andreas Zeller.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 15th {ACM-IEEE} International Conference on Formal Methods and Models for System Design, {MEMOCODE} 2017, Vienna, Austria, September 29 - October 02, 2017</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/3106237.3106255">Where is the bug and how is it fixed? an experiment with practitioners</a>.
			</span><br />
			<span class="authors">
				Marcel Boehme, Ezekiel O. Soremekun, Sudipta Chattopadhyay, Emamurho Ugherughe, and Andreas Zeller.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 2017 11th Joint Meeting on Foundations of Software Engineering, {ESEC/FSE} 2017, Paderborn, Germany, September 4-8, 2017</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1007/978-3-662-54580-5_3">Directed Automated Memory Performance Testing</a>.
			</span><br />
			<span class="authors">
				Sudipta Chattopadhyay.
			</span><br />
			<span class="venuetype"></span><span class="venue">Tools and Algorithms for the Construction and Analysis of Systems - 23rd International Conference, {TACAS} 2017, Held as Part of the European Joint Conferences on Theory and Practice of Software, {ETAPS} 2017, Uppsala, Sweden, April 22-29, 2017, Proceedings, Part {II}</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1016/bs.adcom.2015.11.005">On Testing Embedded Software</a>.
			</span><br />
			<span class="authors">
				Abhijeet Banerjee, Sudipta Chattopadhyay, and Abhik Roychoudhury.
			</span><br />
			<span class="venuetype"></span><span class="venue">Advances in Computers</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1016/j.sysarc.2016.08.002">Systematic detection of memory related performance bottlenecks in GPGPU programs</a>.
			</span><br />
			<span class="authors">
				Adrian Horga, Sudipta Chattopadhyay, Petru Eles, and Zebo Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Systems Architecture - Embedded Systems Design</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1109/ASPDAC.2016.7428088">SPARTA: A scheduling policy for thwarting differential power analysis attacks</a>.
			</span><br />
			<span class="authors">
				Ke Jiang, Petru Eles, Zebo Peng, Sudipta Chattopadhyay, and Lejla Batina.
			</span><br />
			<span class="venuetype"></span><span class="venue">21st Asia and South Pacific Design Automation Conference, {ASP-DAC} 2016, Macao, Macao, January 25-28, 2016</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://arxiv.org/abs/1611.04426">Quantifying the Information Leak in Cache Attacks through Symbolic Execution</a>.
			</span><br />
			<span class="authors">
				Sudipta Chattopadhyay, Moritz Beck, Ahmed Rezine, and Andreas Zeller.
			</span><br />
			<span class="venuetype"></span><span class="venue">CoRR</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1007/978-3-319-23404-5_8">MESS: Memory Performance Debugging on Embedded Multi-core Systems</a>.
			</span><br />
			<span class="authors">
				Sudipta Chattopadhyay.
			</span><br />
			<span class="venuetype"></span><span class="venue">Model Checking Software - 22nd International Symposium, {SPIN} 2015, Stellenbosch, South Africa, August 24-26, 2015, Proceedings</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1561/1000000037">Time-Predictable Embedded Software on Multi-Core Platforms: Analysis and Optimization</a>.
			</span><br />
			<span class="authors">
				Sudipta Chattopadhyay, Abhik Roychoudhury, Jakob Rosen, Petru Eles, and Zebo Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Foundations and Trends in Electronic Design Automation 8(3-4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1007/s11241-013-9189-x">Static analysis of multi-core TDMA resource arbitration delays</a>.
			</span><br />
			<span class="authors">
				Timon Kelter, Heiko Falk, Peter Marwedel, Sudipta Chattopadhyay, and Abhik Roychoudhury.
			</span><br />
			<span class="venuetype"></span><span class="venue">Real-Time Systems 50(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/2584654">A Unified WCET analysis framework for multicore platforms</a>.
			</span><br />
			<span class="authors">
				Sudipta Chattopadhyay, Lee Kee Chong, Abhik Roychoudhury, Timon Kelter, Peter Marwedel, and Heiko Falk.
			</span><br />
			<span class="venuetype"></span><span class="venue">{ACM} Trans. Embedded Comput. Syst. 13(4s)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/2632156">Cache-Related Preemption Delay Analysis for Multilevel Noninclusive Caches</a>.
			</span><br />
			<span class="authors">
				Sudipta Chattopadhyay and Abhik Roychoudhury.
			</span><br />
			<span class="venuetype"></span><span class="venue">{ACM} Trans. Embedded Comput. Syst. 13(5s)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/2656045.2656047">Automated software testing of memory performance in embedded GPUs</a>.
			</span><br />
			<span class="authors">
				Sudipta Chattopadhyay, Petru Eles, and Zebo Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">2014 International Conference on Embedded Software, {EMSOFT} 2014, New Delhi, India, October 12-17, 2014</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/2635868.2635871">Detecting energy bugs and hotspots in mobile apps</a>.
			</span><br />
			<span class="authors">
				Abhijeet Banerjee, Lee Kee Chong, Sudipta Chattopadhyay, and Abhik Roychoudhury.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 22nd {ACM} {SIGSOFT} International Symposium on Foundations of Software Engineering, (FSE-22), Hong Kong, China, November 16 - 22, 2014</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1007/s11241-013-9178-0">Scalable and precise refinement of cache timing analysis via path-sensitive verification</a>.
			</span><br />
			<span class="authors">
				Sudipta Chattopadhyay and Abhik Roychoudhury.
			</span><br />
			<span class="venuetype"></span><span class="venue">Real-Time Systems 49(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/2465554.2465566">Program performance spectrum</a>.
			</span><br />
			<span class="authors">
				Sudipta Chattopadhyay, Lee Kee Chong, and Abhik Roychoudhury.
			</span><br />
			<span class="venuetype"></span><span class="venue">{SIGPLAN/SIGBED} Conference on Languages, Compilers and Tools for Embedded Systems 2013, {LCTES} '13, Seattle, WA, USA, June 20-21, 2013</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1109/RTAS.2013.6531082">Precise micro-architectural modeling for WCET analysis via AI+SAT</a>.
			</span><br />
			<span class="authors">
				Abhijeet Banerjee, Sudipta Chattopadhyay, and Abhik Roychoudhury.
			</span><br />
			<span class="venuetype"></span><span class="venue">19th {IEEE} Real-Time and Embedded Technology and Applications Symposium, {RTAS} 2013, Philadelphia, PA, USA, April 9-11, 2013</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1109/RTSS.2013.21">Integrated Timing Analysis of Application and Operating Systems Code</a>.
			</span><br />
			<span class="authors">
				Lee Kee Chong, Cl{\'{e}}ment Ballabriga, Van{-}Thuan Pham, Sudipta Chattopadhyay, and Abhik Roychoudhury.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the {IEEE} 34th Real-Time Systems Symposium, {RTSS} 2013, Vancouver, BC, Canada, December 3-6, 2013</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1109/RTSS.2013.39">Static Analysis Driven Cache Performance Testing</a>.
			</span><br />
			<span class="authors">
				Abhijeet Banerjee, Sudipta Chattopadhyay, and Abhik Roychoudhury.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the {IEEE} 34th Real-Time Systems Symposium, {RTSS} 2013, Vancouver, BC, Canada, December 3-6, 2013</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1109/RTAS.2012.26">A Unified WCET Analysis Framework for Multi-core Platforms</a>.
			</span><br />
			<span class="authors">
				Sudipta Chattopadhyay, Lee Kee Chong, Abhik Roychoudhury, Timon Kelter, Peter Marwedel, and Heiko Falk.
			</span><br />
			<span class="venuetype"></span><span class="venue">2012 {IEEE} 18th Real Time and Embedded Technology and Applications Symposium, Beijing, China, April 16-19, 2012</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1109/ECRTS.2011.9">Bus-Aware Multicore WCET Analysis through TDMA Offset Bounds</a>.
			</span><br />
			<span class="authors">
				Timon Kelter, Heiko Falk, Peter Marwedel, Sudipta Chattopadhyay, and Abhik Roychoudhury.
			</span><br />
			<span class="venuetype"></span><span class="venue">23rd Euromicro Conference on Real-Time Systems, {ECRTS} 2011, Porto, Portugal, 5-8 July, 2011</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/1967677.1967680">Static bus schedule aware scratchpad allocation in multiprocessors</a>.
			</span><br />
			<span class="authors">
				Sudipta Chattopadhyay and Abhik Roychoudhury.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the {ACM} {SIGPLAN/SIGBED} 2011 conference on Languages, compilers, and tools for embedded systems, {LCTES} 2011, Chicago, IL, USA, April 11-14, 2011</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1109/RTSS.2011.25">Scalable and Precise Refinement of Cache Timing Analysis via Model Checking</a>.
			</span><br />
			<span class="authors">
				Sudipta Chattopadhyay and Abhik Roychoudhury.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 32nd {IEEE} Real-Time Systems Symposium, {RTSS} 2011, Vienna, Austria, November 29 - December 2, 2011</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1109/RTSS.2011.38">Timing Analysis of a Protected Operating System Kernel</a>.
			</span><br />
			<span class="authors">
				Bernard Blackham, Yao Shi, Sudipta Chattopadhyay, Abhik Roychoudhury, and Gernot Heiser.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 32nd {IEEE} Real-Time Systems Symposium, {RTSS} 2011, Vienna, Austria, November 29 - December 2, 2011</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/1811212.1811220">Modeling shared cache and bus in multi-cores for timing analysis</a>.
			</span><br />
			<span class="authors">
				Sudipta Chattopadhyay, Abhik Roychoudhury, and Tulika Mitra.
			</span><br />
			<span class="venuetype"></span><span class="venue">13th International Workshop on Software and Compilers for Embedded Systems, {SCOPES} '10, St. Goar, Germany, June 29-30, 2010</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2009</strong></big><br />
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1109/RTSS.2009.20">Unified Cache Modeling for WCET Analysis and Layout Optimizations</a>.
			</span><br />
			<span class="authors">
				Sudipta Chattopadhyay and Abhik Roychoudhury.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 30th {IEEE} Real-Time Systems Symposium, {RTSS} 2009, Washington, DC, USA, 1-4 December 2009</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
